{% extends 'base.html' %}
{% block direita %}

    <h2>{{ estadio.nome }}</h2>
    <hr>
    <div class="content">
        <div class="row">
            <strong>Código: </strong> <p>{{ estadio.cod }}</p>
            <strong>Inauguração:</strong><p>{{ estadio.inauguracao|date:"d \d\e M \d\e Y." }}</p>
        </div>
    </div>
    <div>
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'futebol:edit_estadio' estadio.id %}">Editar</a>
        <a class="btn btn-light btn-lg" role="button" href="{% url 'futebol:estadio' %}">Voltar</a>
    </div>

{% endblock direita %}